{% extends 'base.html' %}
{% load static %}

{% block title %}
    Loic's Blog: {{ category.name }}
{% endblock %}

{% block content %}

<h1>{{ category.name }}</h1>

{% for post in category_posts %}
    <li><a href="{% url 'post_details' post.pk %}">{{ post.title}}</a>
        - {{ post.author.first_name }} {{ post.author.last_name }}
        <small>
            - {{ post.date }}
            {% if user.is_authenticated and post.author.id == user.id  %}
            - <a href="{% url 'edit_post' post.pk %}">Edit</a>
            - <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        </small>
    </li>
{% endfor %}
<br />
<br />
<button>
    <a href="{% url 'home' %}">Back</a>
</button>

{% endblock %}