{% extends 'index.html' %}
{% load static %}

{% block title %}
    Loic's Blog - Delete: {{ post.title}} 
{% endblock %}

{% block content %}

{% if user.is_authenticated and post.author.id == user.id  %}
<h1>Delete Post: {{ post.title}}</h1>

<form method="POST">
    {% csrf_token %}
    <strong>Are you sure you want to delete this post?</strong>
    <br /><br />
    <button>Delete</button>
</form>
{% else %}
<h3>You need to login and be the author to delete this post</h3>
{% endif %}

{% endblock %}