{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
    Loic's Blog
    {% endblock %}
  </title>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <div class="container">
      <nav class="top-bar">
        <div class="blog-title">
          <a href="{% url 'home' %}">
            <h2.blog-title>Loic's Blog</h2>
          </a>
        </div>
        <div>
          {% if user.is_authenticated %}
          <a href="{% url 'create_post' %}">Create Post</a>
          <a href="{% url 'create_category' %}">Create Category</a>
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'register' %}">Register</a>
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
        <div class="dropdown">
          <button class="dropbtn" onclick="toggleCatDropdown()">
            Categories <i class="fa fa-caret-down"></i>
          </button>
        </div>
        {% if user.is_authenticated %}
        <div class="logged-user">
            <p> Logged in: {{ user.first_name }} </p>
        </div>
        {% endif %}
        <button id="dark-light-toggle">
          <i class="fa fa-moon" id="moon-icon"></i>
          <i class="fa-solid fa-sun" id="sun-icon"></i>
        </button>
      </nav>
      <div class="dropdown-content" id="cat-dropdown">
        {% get_categories as categories %}
        {% for category in categories %}
        <a href="{% url 'category' category.name %}">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
  </header>
  <section class="container">
    {% block content %}
    {% endblock %}
  </section>
  <script src="{% static 'blog/index.js' %}"></script>
</body>

</html>