{% extends 'index.html' %}
{% load static %}

{% block title %}
    Loic's Blog: {{ post.title }}
{% endblock %}

{% block content %}

<h1 class="post-title">{{ post.title }}</h1>
<div class="post-details">
    <div class="post-info">
        By {{ post.author.first_name }} {{ post.author.last_name }}
        on {{ post.date }}
        in category {{ post.category }}
    </div>
    <div class="post-actions">
        <a href="{% url 'home' %}">
            <button>Back</button>
        </a>
        {% if user.is_authenticated and post.author.id == user.id %}
            <a href="{% url 'edit_post' post.pk %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete_post' post.pk %}">
                <button>Delete</button>
            </a>
        {% endif %}
    </div>
</div>
<div class="post-content">
    {{ post.formatted_markdown|safe }}
<div />

{% endblock %}
