/* vars */
:root {
    color-scheme: light;

    --link-primary-color: #129bd8;
    --pulse-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    --bg-primary-color: #f2fdff;
    --bg-secondary-color: #dfefff;

    --text-primary-color: #0A0908;
    --text-secondary-color: #001f63;
    --text-tertiary-color: #626262;

    --button-primary-color: white;

    --error-primary-color: #991b1b;

    --border-primary-color: #626262;

    --active-primary-color: #fffdbd;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    min-height: 100vh;
    background-color: var(--bg-primary-color);
    color: var(--text-secondary-color);
}

header,
section,
footer {
    margin: auto;
}

/* container */

.container {
    width: 100%;
    margin: auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem 0rem;
}

h1 {
    font-size: 1.6rem;
    color: var(--text-primary-color);
    text-align: center;
    text-transform: uppercase;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--text-secondary-color);
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
    color: var(--text-primary-color);
}

h4 {
    font-size: 1.3rem;
    color: var(--text-secondary-color);
}

h5 {
    font-size: 1.2rem;
    color: var(--text-primary-color);
}

p {
    font-size: 1rem;
    line-height: 1.5em; 
    margin: 1rem 0rem;
}

pre {
    overflow-x: scroll;
    white-space: pre;
    margin: 1rem 0rem;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-primary-color);
}

code {
    font-size: 1rem;
    color: var(--text-primary-color);
}

a {
    display: inline-block;
    padding: 0.5rem 0rem;
    color: var(--link-primary-color);
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

li {
    padding: 0.5rem;
}

li a {
    padding: 0;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--bg-primary-color);
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--text-primary-color);
}

button:hover {
    background-color: var(--active-primary-color);
}

img,
svg {
    display: block;
    margin: auto;
}

svg {
    fill: var(--link-primary-color);
    width: 250px;
}

svg:hover {
    fill: var(--text-secondary-color);
}

/* Form */

form {
    padding-top: 0.5rem;
}

form fieldset {
    width: 100%;
    border: none;
    margin: 0.3rem 0;
}

form legend {
    font-size: 1.3rem;
    color: var(--text-primary-color);
}

form input, textarea, select {
    min-width: 100%;
    padding: 0.3rem;
    background-color: var(--bg-secondary-color);
    color: var(--text-secondary-color);
}

form label {
    margin: 1rem 0.5rem;
    background-color: var(--bg-primary-color);
}

form textarea {
    min-height: 50rem;
}

button.cancel {
    background-color: #ffc7c7;
    width: 10rem;
}

button.back {
    background-color: inherit;
    width: 10rem;
}

button.confirm {
    background-color: greenyellow;
    width: 10rem;
}

input[type=button] {
    padding: 0.5rem;
    color: var(--link-primary-color);
    text-transform: uppercase;
}

/* Animation */

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

/* Header */

header {
    margin: auto;
    background-color: var(--text-secondary-color);
    color: var(--bg-primary-color);
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

header a {
    color: var(--bg-secondary-color);
}

.pointer {
    cursor: pointer;
}

header img:hover,
svg:hover,
a:hover {
    animation: var(--pulse-animation);
}

nav.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    margin: 0.5rem;
    vertical-align: middle;
    text-decoration: none;
}

nav a:hover {
    color: var(--link-primary-color);
}

.active {
    color: var(--active-primary-color);
}

.blog-title h1{
    padding: 0;
    color: var(--bg-primary-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
}

.logged-user {
    color: var(--active-primary-color);
}

/* Category dropdown */

.dropdown {
    margin: 0.5rem;
}

.dropdown .dropbtn {
    border: none;
    font-family: inherit;
    font-size: inherit;
}
  
.dropdown-content {
    display: none;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-style: solid;
    border-width: thin;
    border-color: var(--active-primary-color);
}
  
.dropdown-content a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--active-primary-color);
}

.show {
    display: block;
}

/* Post form */
.markdownx {
    display: flex;
    justify-content: space-between;
}

.markdownx>* {
    flex-basis: 49%;
    overflow-x: auto;
}

.markdownx textarea {
    min-width: 0;
}

.post-short {
    border-bottom-style: groove;
    border-width: 1px;
    border-color: var(--border-primary-color);
}

.post-short {
    border-left-style: groove;
    border-right-style: groove;
    border-left-color: var(--bg-primary-color);
    border-right-color: var(--bg-primary-color);
}

.post-short, .post-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-short:hover {
    background-color: var(--bg-secondary-color);
    border-color: var(--border-primary-color);
}

.post-short .post-header {
    flex-grow: 1;
}

.post-short a {
    padding: 0.5rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

.post-short>a:hover {
    background-color: var(--active-primary-color);
}

.post-short h2 {
    padding: 0.3rem 0rem;
    font-size: 1.3rem;
    text-transform: none;
}

.post-info {
    color: var(--text-tertiary-color);
}

.post-short .post-info {
    padding-top: 0rem;
}

.post-short .post-actions {
    padding: 0.5rem;
}

.post-details .post-info,
.post-details .post-actions {
    padding: 0.5rem;
}

.post-actions a {
    cursor: pointer;
    display: inline-block;
    padding: 0rem;
}

/* Mobile */

@media (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .container {
        padding: 0.5rem;
    }
    header {
        text-align: center;
    }
    section {
        margin: 1rem;
    }
    .markdownx {
        display: block;
    }
    nav.top-bar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .post-short, .post-details {
        display: block;
        text-align: center;
    }
}

/* Syntax codehilite */
.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #ffffff; }
.codehilite .c { color: #008000 } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #0000ff } /* Keyword */
.codehilite .ch { color: #008000 } /* Comment.Hashbang */
.codehilite .cm { color: #008000 } /* Comment.Multiline */
.codehilite .cp { color: #0000ff } /* Comment.Preproc */
.codehilite .cpf { color: #008000 } /* Comment.PreprocFile */
.codehilite .c1 { color: #008000 } /* Comment.Single */
.codehilite .cs { color: #008000 } /* Comment.Special */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gh { font-weight: bold } /* Generic.Heading */
.codehilite .gp { font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { font-weight: bold } /* Generic.Subheading */
.codehilite .kc { color: #0000ff } /* Keyword.Constant */
.codehilite .kd { color: #0000ff } /* Keyword.Declaration */
.codehilite .kn { color: #0000ff } /* Keyword.Namespace */
.codehilite .kp { color: #0000ff } /* Keyword.Pseudo */
.codehilite .kr { color: #0000ff } /* Keyword.Reserved */
.codehilite .kt { color: #2b91af } /* Keyword.Type */
.codehilite .s { color: #a31515 } /* Literal.String */
.codehilite .nc { color: #2b91af } /* Name.Class */
.codehilite .ow { color: #0000ff } /* Operator.Word */
.codehilite .sa { color: #a31515 } /* Literal.String.Affix */
.codehilite .sb { color: #a31515 } /* Literal.String.Backtick */
.codehilite .sc { color: #a31515 } /* Literal.String.Char */
.codehilite .dl { color: #a31515 } /* Literal.String.Delimiter */
.codehilite .sd { color: #a31515 } /* Literal.String.Doc */
.codehilite .s2 { color: #a31515 } /* Literal.String.Double */
.codehilite .se { color: #a31515 } /* Literal.String.Escape */
.codehilite .sh { color: #a31515 } /* Literal.String.Heredoc */
.codehilite .si { color: #a31515 } /* Literal.String.Interpol */
.codehilite .sx { color: #a31515 } /* Literal.String.Other */
.codehilite .sr { color: #a31515 } /* Literal.String.Regex */
.codehilite .s1 { color: #a31515 } /* Literal.String.Single */
.codehilite .ss { color: #a31515 } /* Literal.String.Symbol */