/* vars */
:root {
    color-scheme: light dark;

    --pulse-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    --link-primary-color: #79a3bf;

    --bg-primary-color: #202020;
    --bg-secondary-color: #303030;

    --text-primary-color: #bcf2c5;
    --text-secondary-color: #e2e2e2;

    --button-primary-color: #202020;

    --error-primary-color: #ff4d4d;

    --border-primary-color: #8e8e8e;

    --active-primary-color: #1a1a1a;
}

:root.light {

    --link-primary-color: #56aae3;

    --bg-primary-color: #f2fdff;
    --bg-secondary-color: #dfefff;

    --text-primary-color: #236c0c;
    --text-secondary-color: #1f1a18;

    --button-primary-color: white;

    --error-primary-color: #991b1b;

    --border-primary-color: #626262;

    --active-primary-color: #fffdbd;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    min-height: 100vh;
    background-color: var(--bg-primary-color);
    color: var(--text-secondary-color);
}

header,
section,
footer {
    margin: auto;
}

/* container */

.container {
    width: 70%;
    margin: auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem 0rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem;
    color: var(--text-primary-color);
    text-align: center;
    text-transform: uppercase;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

h2 {
    font-size: 1.5rem;
    color: var(--text-secondary-color);
    text-transform: uppercase;
    text-decoration: underline;
}

h3 {
    font-size: 1.4rem;
    color: var(--text-primary-color);
}

h4 {
    font-size: 1.3rem;
    color: var(--text-secondary-color);
}

h5 {
    font-size: 1.2rem;
    color: var(--text-primary-color);
}

p {
    font-size: 1rem;
    line-height: 1.5em; 
    margin: 1rem 0rem;
}

pre {
    overflow-x: scroll;
    white-space: pre;
    margin: 1rem 0rem;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-primary-color);
}

code {
    font-size: 1rem;
    color: var(--text-primary-color);
}

a {
    display: inline-block;
    padding: 0.5rem 0rem;
    color: var(--link-primary-color);
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

li {
    padding: 0.5rem;
}

li a {
    padding: 0;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: inherit;
    color: inherit;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: var(--text-secondary-color);
}

button:hover {
    background-color: var(--active-primary-color);
}

img,
svg {
    display: block;
    margin: auto;
}

svg {
    fill: var(--link-primary-color);
    width: 250px;
}

svg:hover {
    fill: var(--text-secondary-color);
}

/* Form */

form {
    padding-top: 0.5rem;
}

form fieldset {
    width: 100%;
    border: none;
    margin: 0.3rem 0;
}

form legend {
    font-size: 1.3rem;
    color: var(--text-primary-color);
}

form input, textarea, select {
    min-width: 100%;
    padding: 0.3rem;
    background-color: var(--bg-secondary-color);
    color: var(--text-secondary-color);
}

form label {
    margin: 1rem 0.5rem;
    background-color: var(--bg-primary-color);
}

form textarea {
    min-height: 50rem;
}

button.cancel,
button.delete {
    background-color: #ffc7c7;
    width: 10rem;
}

button.confirm {
    background-color: greenyellow;
    width: 10rem;
}

input[type=button] {
    padding: 0.5rem;
    color: var(--link-primary-color);
    text-transform: uppercase;
}

/* Animation */

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

/* Header */

header {
    margin: auto;
    background-color: var(--text-secondary-color);
    color: var(--bg-primary-color);
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-primary-color);
}

header .blog-title a {
    color: var(--bg-primary-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header a {
    color: var(--bg-secondary-color);
}

header img {
    width: 2rem;
}

.pointer {
    cursor: pointer;
}

header img:hover,
svg:hover,
a:hover {
    animation: var(--pulse-animation);
}

nav.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    margin: 0.5rem;
    vertical-align: middle;
    text-decoration: none;
}

nav a:hover {
    color: var(--link-primary-color);
}

.fa-sun, .fa-moon {
    font-size: 1.4rem;
}

#dark-light-toggle {
    background-color: transparent;
    border: none;
    color: var(--bg-secondary-color);
}

.active {
    color: var(--active-primary-color);
}

.blog-title h1{
    padding: 0;
    color: var(--bg-primary-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
}

.logged-user {
    color: var(--active-primary-color);
}

/* Category dropdown */

.dropdown {
    margin: 0.5rem;
}

.dropdown .dropbtn {
    font-family: inherit;
    font-size: inherit;
}

.dropbtn i {
    pointer-events: none;
  }
  
.dropdown-content {
    display: none;
    min-width: 10%;
    z-index: 1;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: var(--active-primary-color);
}
  
.dropdown-content a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--active-primary-color);
}

.show {
    display: block;
}

/* Post form */
.markdownx {
    display: flex;
    justify-content: space-between;
}

.markdownx>* {
    flex-basis: 49%;
    overflow-x: auto;
}

.markdownx textarea {
    min-width: 0;
}

.post-content {
    padding: 0.5rem;
}

.post-short {
    border-bottom-style: groove;
    border-width: 1px;
    border-color: var(--border-primary-color);
}

.post-short {
    border-left-style: groove;
    border-right-style: groove;
    border-left-color: transparent;
    border-right-color: transparent;
}

.post-short, .post-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-short:hover {
    background-color: var(--bg-secondary-color);
    border-color: var(--border-primary-color);
}

.post-short .post-header {
    flex-grow: 1;
}

.post-short a {
    padding: 1rem;
    display: block;
    color: inherit;
    text-decoration: none;
}

.post-short>a:hover {
    background-color: var(--active-primary-color);
}

.post-short h2 {
    padding: 0.3rem 0rem;
    font-size: 1.3rem;
    text-transform: none;
    text-decoration: none;
}

.post-info {
    color: var(--text-primary-color);
}

.post-short .post-info {
    padding-top: 0rem;
}

.post-short .post-actions {
    padding: 0.5rem;
}

.post-details .post-info,
.post-details .post-actions {
    padding: 0.5rem;
}

.post-actions a {
    cursor: pointer;
    display: inline-block;
    padding: 0rem;
}

/* Footer */

footer {
    padding: 2rem;
    margin-top: -1px;
    border-top-style: groove;
    border-top-width: 1px;
    border-top-color: var(--border-primary-color);
    text-align: center;
}

footer .contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contact-icons img {
    margin: 1rem;
    width: 5rem;
}

/* Mobile */

@media (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    .container {
        width: 100%;
    }

    header {
        text-align: center;
    }

    section {
        margin: 1rem;
    }

    .markdownx {
        display: block;
    }

    nav.top-bar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .post-short, .post-details {
        display: block;
        text-align: center;
    }
}

/* Syntax codehilite */

/* dark theme: monokai */
/* https://github.com/develephant/mkdocs-codehilite-themes/blob/master/css/monokai.css */

.dark .codehilite .hll { background-color: #49483e }
.dark .codehilite  { background: #0a0908; color: #f8f8f2 }
.dark .codehilite .c { color: #75715e } /* Comment */
.dark .codehilite .err { color: #960050; background-color: #1e0010 } /* Error */
.dark .codehilite .k { color: #66d9ef } /* Keyword */
.dark .codehilite .l { color: #ae81ff } /* Literal */
.dark .codehilite .n { color: #f8f8f2 } /* Name */
.dark .codehilite .o { color: #f92672 } /* Operator */
.dark .codehilite .p { color: #f8f8f2 } /* Punctuation */
.dark .codehilite .ch { color: #75715e } /* Comment.Hashbang */
.dark .codehilite .cm { color: #75715e } /* Comment.Multiline */
.dark .codehilite .cp { color: #75715e } /* Comment.Preproc */
.dark .codehilite .cpf { color: #75715e } /* Comment.PreprocFile */
.dark .codehilite .c1 { color: #75715e } /* Comment.Single */
.dark .codehilite .cs { color: #75715e } /* Comment.Special */
.dark .codehilite .gd { color: #f92672 } /* Generic.Deleted */
.dark .codehilite .ge { font-style: italic } /* Generic.Emph */
.dark .codehilite .gi { color: #a6e22e } /* Generic.Inserted */
.dark .codehilite .gs { font-weight: bold } /* Generic.Strong */
.dark .codehilite .gu { color: #75715e } /* Generic.Subheading */
.dark .codehilite .kc { color: #66d9ef } /* Keyword.Constant */
.dark .codehilite .kd { color: #66d9ef } /* Keyword.Declaration */
.dark .codehilite .kn { color: #f92672 } /* Keyword.Namespace */
.dark .codehilite .kp { color: #66d9ef } /* Keyword.Pseudo */
.dark .codehilite .kr { color: #66d9ef } /* Keyword.Reserved */
.dark .codehilite .kt { color: #66d9ef } /* Keyword.Type */
.dark .codehilite .ld { color: #e6db74 } /* Literal.Date */
.dark .codehilite .m { color: #ae81ff } /* Literal.Number */
.dark .codehilite .s { color: #e6db74 } /* Literal.String */
.dark .codehilite .na { color: #a6e22e } /* Name.Attribute */
.dark .codehilite .nb { color: #f8f8f2 } /* Name.Builtin */
.dark .codehilite .nc { color: #a6e22e } /* Name.Class */
.dark .codehilite .no { color: #66d9ef } /* Name.Constant */
.dark .codehilite .nd { color: #a6e22e } /* Name.Decorator */
.dark .codehilite .ni { color: #f8f8f2 } /* Name.Entity */
.dark .codehilite .ne { color: #a6e22e } /* Name.Exception */
.dark .codehilite .nf { color: #a6e22e } /* Name.Function */
.dark .codehilite .nl { color: #f8f8f2 } /* Name.Label */
.dark .codehilite .nn { color: #f8f8f2 } /* Name.Namespace */
.dark .codehilite .nx { color: #a6e22e } /* Name.Other */
.dark .codehilite .py { color: #f8f8f2 } /* Name.Property */
.dark .codehilite .nt { color: #f92672 } /* Name.Tag */
.dark .codehilite .nv { color: #f8f8f2 } /* Name.Variable */
.dark .codehilite .ow { color: #f92672 } /* Operator.Word */
.dark .codehilite .w { color: #f8f8f2 } /* Text.Whitespace */
.dark .codehilite .mb { color: #ae81ff } /* Literal.Number.Bin */
.dark .codehilite .mf { color: #ae81ff } /* Literal.Number.Float */
.dark .codehilite .mh { color: #ae81ff } /* Literal.Number.Hex */
.dark .codehilite .mi { color: #ae81ff } /* Literal.Number.Integer */
.dark .codehilite .mo { color: #ae81ff } /* Literal.Number.Oct */
.dark .codehilite .sa { color: #e6db74 } /* Literal.String.Affix */
.dark .codehilite .sb { color: #e6db74 } /* Literal.String.Backtick */
.dark .codehilite .sc { color: #e6db74 } /* Literal.String.Char */
.dark .codehilite .dl { color: #e6db74 } /* Literal.String.Delimiter */
.dark .codehilite .sd { color: #e6db74 } /* Literal.String.Doc */
.dark .codehilite .s2 { color: #e6db74 } /* Literal.String.Double */
.dark .codehilite .se { color: #ae81ff } /* Literal.String.Escape */
.dark .codehilite .sh { color: #e6db74 } /* Literal.String.Heredoc */
.dark .codehilite .si { color: #e6db74 } /* Literal.String.Interpol */
.dark .codehilite .sx { color: #e6db74 } /* Literal.String.Other */
.dark .codehilite .sr { color: #e6db74 } /* Literal.String.Regex */
.dark .codehilite .s1 { color: #e6db74 } /* Literal.String.Single */
.dark .codehilite .ss { color: #e6db74 } /* Literal.String.Symbol */
.dark .codehilite .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.dark .codehilite .fm { color: #a6e22e } /* Name.Function.Magic */
.dark .codehilite .vc { color: #f8f8f2 } /* Name.Variable.Class */
.dark .codehilite .vg { color: #f8f8f2 } /* Name.Variable.Global */
.dark .codehilite .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.dark .codehilite .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.dark .codehilite .il { color: #ae81ff } /* Literal.Number.Integer.Long */


/* light theme: VS */
/* https://github.com/develephant/mkdocs-codehilite-themes/blob/master/css/vs.css */

.light .codehilite .hll { background-color: #ffffcc }
.light .codehilite  { background: #ffffff; }
.light .codehilite .c { color: #008000 } /* Comment */
.light .codehilite .err { border: 1px solid #FF0000 } /* Error */
.light .codehilite .k { color: #0000ff } /* Keyword */
.light .codehilite .ch { color: #008000 } /* Comment.Hashbang */
.light .codehilite .cm { color: #008000 } /* Comment.Multiline */
.light .codehilite .cp { color: #0000ff } /* Comment.Preproc */
.light .codehilite .cpf { color: #008000 } /* Comment.PreprocFile */
.light .codehilite .c1 { color: #008000 } /* Comment.Single */
.light .codehilite .cs { color: #008000 } /* Comment.Special */
.light .codehilite .ge { font-style: italic } /* Generic.Emph */
.light .codehilite .gh { font-weight: bold } /* Generic.Heading */
.light .codehilite .gp { font-weight: bold } /* Generic.Prompt */
.light .codehilite .gs { font-weight: bold } /* Generic.Strong */
.light .codehilite .gu { font-weight: bold } /* Generic.Subheading */
.light .codehilite .kc { color: #0000ff } /* Keyword.Constant */
.light .codehilite .kd { color: #0000ff } /* Keyword.Declaration */
.light .codehilite .kn { color: #0000ff } /* Keyword.Namespace */
.light .codehilite .kp { color: #0000ff } /* Keyword.Pseudo */
.light .codehilite .kr { color: #0000ff } /* Keyword.Reserved */
.light .codehilite .kt { color: #2b91af } /* Keyword.Type */
.light .codehilite .s { color: #a31515 } /* Literal.String */
.light .codehilite .nc { color: #2b91af } /* Name.Class */
.light .codehilite .ow { color: #0000ff } /* Operator.Word */
.light .codehilite .sa { color: #a31515 } /* Literal.String.Affix */
.light .codehilite .sb { color: #a31515 } /* Literal.String.Backtick */
.light .codehilite .sc { color: #a31515 } /* Literal.String.Char */
.light .codehilite .dl { color: #a31515 } /* Literal.String.Delimiter */
.light .codehilite .sd { color: #a31515 } /* Literal.String.Doc */
.light .codehilite .s2 { color: #a31515 } /* Literal.String.Double */
.light .codehilite .se { color: #a31515 } /* Literal.String.Escape */
.light .codehilite .sh { color: #a31515 } /* Literal.String.Heredoc */
.light .codehilite .si { color: #a31515 } /* Literal.String.Interpol */
.light .codehilite .sx { color: #a31515 } /* Literal.String.Other */
.light .codehilite .sr { color: #a31515 } /* Literal.String.Regex */
.light .codehilite .s1 { color: #a31515 } /* Literal.String.Single */
.light .codehilite .ss { color: #a31515 } /* Literal.String.Symbol */
